.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer__by {
    display: flex;
    justify-content: space-around;
    /*flex-direction: column;*/
    height: 112px;
    align-items: center;
    justify-content: center;
}

.footer__texto {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

#logo2{
    width: 7%;
    right: 7%; 
   margin: 10px;  
}
